h1 {
    color:darkslateblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color:darkblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#foo img[src="https://live-production.wcms.abc-cdn.net.au/a362273509f7eccdcf362bb73b3b006d?impolicy=wcms_crop_resize&cropH=788&cropW=1400&xPos=0&yPos=0&width=862&height=485"] {
    border-radius: 50%;
    max-width: fit-content;
    height:auto;
}

h2 {
    color:blueviolet;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkslateblue;
  color: white;
  text-align: center;
}